{% extends 'base.html.twig' %}

{% block body %}

    <form class="login-form px-4 py-5 shadow" action="{{ path('login') }}" method="post">
        <h1 class="text-center fs-3 text-primary-emphasis mb-5">Connexion</h1>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="username">Adresse email</label>
            <input type="text" name="_username" class="form-control" id="username" autofocus autocomplete="username" required />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password">Mot de passe</label>
            <input type="password" name="_password" class="form-control" id="password" autocomplete="current-password" required />
        </div>

        <!-- Submit button -->
        <button  type="submit" class="btn btn-primary btn-block mb-4 w-100">Se connecter</button>

        {% if error %}
            <div class="alert alert-danger mt-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock %}
